.scrolling-text-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  overflow: hidden;
  background-color: #000000;
}

.scrolling-text-wrapper {
  position: relative;
  white-space: nowrap;
  will-change: transform;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 95px;
}
.scrolling-text-item {
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  padding: 0;
}

.scrolling-text-item.arrow-right {
  transform: rotate(180deg);
}

.scrolling-text-item.arrow-right:last-child {
  padding-left: 95px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .scrolling-text-wrapper {
    gap: 20px;
  }
  .scrolling-text-item {
    font-size: 24px;
  }
}
